<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <blink><h1>To Dos</h1></blink>

    <% for(var i = 0; i < todos.length; i++) { %>
      <p>Id: <%= todos[i].uuid %>
      <p>Name: <%= todos[i].name %>
      <p>Description: <%= todos[i].description %>
      <hr>
    <% } %>

  </body>
</html>
